PORT=4001
NODE_ENV=test
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/plp_test?schema=public"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5432/plp_test?schema=public"
CORS_ORIGINS="http://localhost:3000"
